<div class="nested-fields form-inline">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :order %>
    <%= f.number_field :order %>
  </div>
</div>